<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCmBQP9xSrmP4Hr0z3jizCu-2t3QM9acMk</string>
	<key>GCM_SENDER_ID</key>
	<string>43890043330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.driver.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ghumo-703ae</string>
	<key>STORAGE_BUCKET</key>
	<string>ghumo-703ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43890043330:ios:8e994947af99fbcd358e5b</string>
</dict>
</plist>